body{
  background-color: hsl(30, 38%, 92%);
}
.image{
  height:500px;
  width:300px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  float: left;

}
#content{
  background-color: white;
  position:absolute;
  top:25%;
  left:30%;

  height:500px;
  width:600px;
  border-radius: 10px;


}
.image{
  margin-right:20px;
}
#para{
  font-family: 'Montserrat', sans-serif;
  padding:20px;
  color:gray;
}
#head{
  font-family:'Montserrat', sans-serif;
  font-size: 14px;
  font-weight:400;
  color: gray;
}
h1{
  font-family: 'Fraunces', serif;
  font-weight: 700;
}
#newprice{
  color:hsl(158, 36%, 37%);
  font-family: 'Fraunces', serif;
  font-weight: 700;
  font-size: 200%;

}
#oldprice{
  text-decoration: line-through;
  color:gray;
}
#Addtocart{
  padding:20px;
  background-color: hsl(158, 36%, 37%);
  color:white;
  border: 0px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 10px;
  width:40%;
}
